<h1 mat-dialog-title>Re-set Password</h1>
<div mat-dialog-content>
  <p>Please enter valid email address. You will receive a mail to re-set password.</p>
  <form [formGroup]="passwordDialogForm" (ngSubmit)="SendMail()">
    <mat-form-field appearance="outline" style="width: 90%;">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter Email" formControlName="email" name="email">
      <mat-hint *ngIf="passwordDialogForm.get('email')?.invalid && passwordDialogForm.get('email')?.touched" class="errormsg">
        <span *ngIf="passwordDialogForm.get('email')?.errors?.['required']">This is required field.</span>
        <span *ngIf="passwordDialogForm.get('email')?.errors?.['email']">This is not a valid email address.</span>
    </mat-hint>
      </mat-form-field> 
  </form> 
</div>
<div mat-dialog-actions>
    <button mat-button (click)="SendMail()">Send Mail</button>
    <button mat-button (click)="onCancel()">Close</button>
</div>