<div style="background-image: url(../../../../assets/images/starsBg.jpg); opacity: 1.0; padding: 1% 0% 0.5% 0%;">
  <div class="title-container">
    <img src="../../../../assets/images/Santa1.png" width="160" height="140">
    <h1 id="title">Secret Santa</h1>
  </div>
  <div class="steps-title">
    <h3 style="text-align: center;">Please follow below steps to play a game.</h3>
  </div>
</div>

<div style="background-image: url(../../../../assets/images/homebg.jpg); opacity: 1.0;">
  <div class="card-container">
    <div class="card-outerdiv">
      <div class="card-holder">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Step 1</mat-card-title>
            <mat-card-subtitle>Sign In or Sign Up</mat-card-subtitle>
          </mat-card-header>
          <div style="padding: 2%;"></div>
          <mat-card-content>
            <ul>
              <li>To start with the game, you need to sign up with us.</li>
              <li>If you already have a account, please Sign In.</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="card-holder">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Step 2</mat-card-title>
            <mat-card-subtitle>Group Creation</mat-card-subtitle>
          </mat-card-header>
          <div style="padding: 2%;"></div>
          <mat-card-content>
            <ul>
              <li>After successful sign-in or sign-up, please create group and add group members.</li>
              <li>Add your name as member too if you want to play game.</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="card-outerdiv">
      <div class="card-holder">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Step 3</mat-card-title>
            <mat-card-subtitle>Group Set Up</mat-card-subtitle>
          </mat-card-header>
          <div style="padding: 2%;"></div>
          <mat-card-content>
            <ul>
              <li>Please provide Date of the gift exchange.</li>
              <li>Now, we are all set to start with game.</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="card-holder">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Step 4</mat-card-title>
            <mat-card-subtitle>Password Set Up</mat-card-subtitle>
          </mat-card-header>
          <div style="padding: 2%;"></div>
          <mat-card-content>
            <ul>
              <li>All members will receive a mail including "Group Code" and password setup link.</li>
              <li>Please set up password & sign-in to draw names.</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="card-outerdiv">
      <div class="card-holder">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Step 5</mat-card-title>
            <mat-card-subtitle>Draw Names</mat-card-subtitle>
          </mat-card-header>
          <div style="padding: 2%;"></div>
          <mat-card-content>
            <ul>
              <li>All members should draw name to start a game.</li>
              <li>Every member will have one child.</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="card-holder">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Step 6</mat-card-title>
            <mat-card-subtitle>WishList</mat-card-subtitle>
          </mat-card-header>
          <div style="padding: 2%;"></div>
          <mat-card-content>
            <ul>
              <li>All members can add their Wishlist.</li>
              <li>This Wishlist will be visible to respective Santa.</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="card-outerdiv">
      <div class="card-holder">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Step 7</mat-card-title>
            <mat-card-subtitle>Gift Exchange</mat-card-subtitle>
          </mat-card-header>
          <div style="padding: 2%;"></div>
          <mat-card-content>
            <ul>
              <li>On date of gift exchange, admin can view all Santa & child names.</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="card-holder">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Step 8</mat-card-title>
            <mat-card-subtitle>Enjoy</mat-card-subtitle>
          </mat-card-header>
          <div style="padding: 2%;"></div>
          <mat-card-content>
            <ul>
              <li>Keep your task ready & ENJOY...!!</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="button-div">
      <button mat-raised-button (click)="signin()">Sign In</button>
      <button mat-raised-button (click)="signup()">Sign Up</button>
    </div>
  </div>
</div>