<h1 mat-dialog-title class="titleclass">View Existing Group or Create New</h1>
<div mat-dialog-content>
    <form [formGroup]="AfterLoginDialogForm" class="container">
        <div class="dialog-section">
          <p>Join exitsing group to view details.</p>
          <mat-form-field appearance="outline" style="width: 90%;">
            <mat-label>Group Code</mat-label>
            <input matInput placeholder="Enter Group Code (if any)" formControlName="groupCode" name="groupCode" #groupCode>
            <mat-hint *ngIf="IsEmpty || InvalidGroupCode" class="errormsg">
              <span *ngIf="IsEmpty">Please enter Group code</span>
              <span *ngIf="InvalidGroupCode">Invalid Group Code</span>
            </mat-hint>
          </mat-form-field>
          <button mat-raised-button (click)="ViewGroup(groupCode.value)">View Group</button>
        </div>
        <div class="dialog-section">
            <p style="padding-bottom: 5%;">Create New group to play a game.</p>
            <button mat-raised-button (click)="CreateNewGroup()">Create New Group</button>
        </div>
    </form> 
</div>

<div mat-dialog-actions  class="footerdiv">
      <button mat-button (click)="onCancel()">Close</button>
</div>